$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$background-color: rgba(1,1,11,1);
$title-color: rgba(150,0,255,1);
$title-shadow-color: $white;
$text-color: $white;
$text-shadow-color: rgba(150,0,255,1);
$background-button: transparent;
$background-button-hover: rgba(255,255,255,0.2);