@font-face {
    font-family: "Holiday";
    src: url("../fonts/Holiday/HolidayFree.otf");
}
$holiday-font: "Holiday", serif;

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;700&display=swap');
$antonio-font: "Antonio", sans-serif;